name: Terraform Destroy (Manual)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  destroy:
    name: Terraform Destroy Resources
    runs-on: ubuntu-latest

    env:
      TF_VAR_gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_region: ${{ secrets.GCP_REGION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan Destroy
        run: terraform plan -destroy -out=tfdestroy

      - name: Terraform Destroy
        run: terraform apply -auto-approve tfdestroy

